#StoreEditor {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.stepEdit {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
    &:hover #btnAddStep {
        display: block;
    }
    &:hover #btnAddStepFix {
        display: none;
    }
}

.StoreEditorContent {
  width: 720px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  // position: relative;
  // border: 1px solid red;
}
#upBarStoreEdit {
  position: fixed;
  width: 645px;
  height: 50px;
  padding: 20px;
  top: 0;
  background: #fff;
  display: flex;
  justify-content:space-between;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.3);
  z-index: 999;
}
.upBarStoreEditClose {
  cursor: pointer;
  position: fixed;
  right: 25px;
  img {
    width: 50px;
    filter: invert(70%);
    &:hover {
      filter: invert(0);
    }
  }
}
#StepEditContainer {
  margin-top: 100px;
}
.paperStoreEdit {
  width: 640px;
  padding: 20px;
  outline: 1px solid #fff;
  p {
    //display:inline-block;

    line-height: 1.3;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
#btnAddStep {
  margin: 15px;
  display: none;
  background-color: #BBDEFB;
}
#btnAddStepFix {
  height: 70px;
  width: 100%;
  display: block;
}
#btnAnswer {
  background-color: #BBDEFB;
  // background-color: #6590c7;
  // color: #fff;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
