.TabContainer {
  text-align: center;
  // display: flex;
  // background-color: red;
  // height: 70%;
}

.TabContainer-input {
  width: 400px;
}
.TabContainer2-input {
  width: 80%;
  overflow:  hidden;
}
#Tooltip {
  position: absolute;
  // background-color: red;
  width: 170px;
  font-size: 12px;

}
#elemSelectMenu {
  // padding-left: 0;
  // padding-right: 0;
  // padding-top: 0;
  // padding-bottom: 0;
}
.elemSelectMenuspan {
  width: 100%;
  height: 100%;
  // margin: 12px 16px 12px 16px;
}
.btnTabNext {
  position: absolute!important;
  bottom: 0;
  right: 0;
  margin: 20px!important;
}
.btnTabBack {
  position: absolute!important;
  bottom: 0;
  right: 100px;
  margin: 20px!important;
}
.btnTabSave {
  // background-color: rgb(35, 175, 53)!important;
  color: #fff;
  position: absolute!important;
  bottom: 0;
  left: 0;
  margin: 20px!important;
}
